# Python
__pycache__/
*.py[cod]
.Python

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
aws_iam_key.json

# MLflow
/mlruns/*
!/mlruns/.gitkeep
mlartifacts/

# Model outputs
/models/*
!/models/.gitkeep
*.pth

# Data (tracked by DVC)
/Raw_data/*
!/Raw_data/.gitkeep
/input_data/*
!/input_data/.gitkeep

# DVC
.dvc/cache
.dvc/tmp

# OS
.DS_Store
/graphs/*
!/graphs/.gitkeep
/models/*
!/models/.gitkeep
/catboost_info/*
!/catboost_info/.gitkeep
